<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<%= render "static_pages/user_home" %>
		</aside>	
		<div class="span8">
			<%= render partial: "static_pages/feed" %>
		</div>
	</div>	
<% else %>
	<%= render "landing_page" %>
<% end %>