<div class="center hero-unit">
	<h1>Amazon price poller</h1>
	<h2>Don't pay more than you need for your products</h2>
	<%= link_to "Start tracking", signup_path, class: "btn btn-large btn-primary"%>
</div>
